@font-face {
    font-family: 'Mntrl';
    src: url('../assets/JetBrainsMonoNL-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Mntrl';
    src: url('../assets/JetBrainsMonoNL-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Mntrl';
    src: url('../assets/JetBrainsMonoNL-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mntrl';
    src: url('../assets/JetBrainsMonoNL-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Mntrl';
    src: url('../assets/JetBrainsMonoNL-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Ssse';
    src: url('../assets/Suisse-Intl-Mono.ttf') format('ttf');
    font-weight: 500;
    font-style: bold;
}
* body {
    font-family: 'Mntrl', sans-serif;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
}
h1 {
    font-size: 70px;
    font-weight: 900;
}
h2 {
    font-family: 'Mntrl', sans-serif;
    font-size: 40px;
    font-weight: 100;
}
h3 {
    font-family: 'Mntrl', sans-serif;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.6em;
}
body {
    --dark: #121212;
    --light: white;
    background-color: var(--dark);
}
header {
    color: var(--light);
    z-index: 2;
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 4% 4% 0px 8%;
}
header h2 {
    margin: 0px;
}
header a {
    text-decoration: none;
    color: white;
}
div.logoIcon {
    background-image: url('../images/Logo_V1.png');
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 40px;
    z-index: 9;
    transition: background-image ease-in-out 0.2s;
}
div.logoIcon:hover {
    background-image: url('../images/Logo_V2.png');
    cursor: crosshair;
}
div.hero {
    position: relative;
    z-index: 1;
    color: var(--light);
    display: flex;
    height:100vh;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    padding: 0px 4% 0px 8%;
}
.hero h1 {
    margin: 0px;
}
.hero>div {
    flex-grow: 1;
    flex-shrink: 0;
}
.heroTxt {
    max-width: 560px;
    position: relative;
    z-index: 2;
}
.heroTxt h3 {
    padding-top: 60px;
    padding-bottom: 60px;
    text-shadow: 1px 1px 2px var(--dark);
}
div.hero3d {
    position: fixed;
    right: -25%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}
main {
    overflow: hidden;
    box-sizing: border-box;
    margin-top: -180px;
}
body {
    max-height: 100vh;
    overflow: hidden;
}

.dottedBG {
    width: 100vw !important;
    min-height: 200vh !important;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    top: -50%;
    z-index: 0;
    opacity: 0.4;
  --dot-bg: #121212;
  --dot-color: white;
  --dot-size: 1px;
  --dot-space: 32px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}
.test{
    background: linear-gradient(90deg, #121212 calc(32px - 1px), transparent 1%) center / 32px 32px, linear-gradient(#121212 calc(32px - 1px), transparent 1%) center / 32px 32px, #ffffff;
}
.dottedBG {
    animation: bgfade linear both;
    animation-timeline: scroll();
    animation-range: entry 0% cover 100%;
  }

@keyframes bgfade {
    from {
        opacity: 0.4;
        transform: translate(0px, 0px);
    }
    to {
        opacity: 1;
        transform: translate(8px, -40px);
    }
    0% {
        opacity: 0.4;
    }
}
@media screen and (max-width:600px) {
    div.hero3d {
        right: -55%;
        align-items: flex-end;
        width: 200%;
    }
    div.hero {
        align-items: flex-start;
    }
    .heroTxt {
        padding-top: 120px;
    }
    h1 {
        font-size: 42px;
    }
    .hero .heroTxt h3 {
        padding-top: 120px;
        max-width: 80%;
        width: 80vw;
        font-size: clamp(1rem, 0.25rem + 4vw, 1.75rem);
        padding-bottom: 20px;
    }
    .quickList {
        display: none;
    }
}
@media screen and (max-width:600px) and (min-width: 490px) {
    div.hero3d {
        bottom: -80px;
    }
}
body#bodyStyle.lightmode .dottedBG {
  --dot-bg: white;
  --dot-color: #121212;
}
body#bodyStyle.lightmode {
    --light: #121212 !important;
    --dark: white !important;
}
body#bodyStyle.lightmode div.logoIcon {
    background-image: url('../images/Logo_V2.png');
}
body#bodyStyle.lightmode div.logoIcon:hover {
    background-image: url('../images/Logo_V1.png');
}