@font-face {
    font-family: 'Mntrl';
    src: url('../assets/NeueMontreal-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Mntrl';
    src: url('../assets/NeueMontreal-LightItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Mntrl';
    src: url('../assets/NeueMontreal-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mntrl';
    src: url('../assets/NeueMontreal-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Mntrl';
    src: url('../assets/NeueMontreal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Ssse';
    src: url('../assets/Suisse-Intl-Mono.ttf') format('ttf');
    font-weight: 500;
    font-style: bold;
}
* body {
    font-family: 'Mntrl', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 70px;
    font-weight: 900;
}
h2 {
    font-family: 'Mntrl', sans-serif;
    font-size: 40px;
    font-weight: 100;
}
body {
    background-color: #121212;
}
header {
    color: white;
    z-index: 1;
    position: relative;
    height: 180px;
    display: flex;
    flex-direction: row;
}
div.hero {
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    height:100vh;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    padding: 0px 4% 0px 4%;
}
.hero>div {
    flex-grow: 1;
    flex-shrink: 0;
}
.heroTxt {
    width: 50%;
    position: relative;
}
div.hero3d {
    position: fixed;
    right: -25%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
main {
    overflow: hidden;
    box-sizing: border-box;
    margin-top: -180px;
}

.dottedBG {
    width: 100vw !important;
    min-height: 200vh !important;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    top: -50%;
    z-index: 0;
  --dot-bg: #121212;
  --dot-color: white;
  --dot-size: 1px;
  --dot-space: 32px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}
